  <md-content class="md-padding" layout="row">
    <div flex-xs flex-gt-xs="50">
      <md-card ng-click="clickedChoice('accountLedger')" layout-align="center center">
        <md-card-title>
          <md-card-title-text layout-align="center center">
            <span class="md-headline">Account Ledger</span>
            <span class="md-subhead">Full-featured Account Ledger</span>
          </md-card-title-text>
        </md-card-title>
        <img src="./img/CY_ledger.png" alt="CY Ledger" style="width: 450px;">
      </md-card>
    </div> 
    <div flex-xs flex-gt-xs="50">
      <md-card ng-click="clickedChoice('chequeWriter')" layout-align="center center"> 
        <md-card-title>
          <md-card-title-text layout-align="center center">
            <span class="md-headline">Check Builder</span>
            <span class="md-subhead">Interactive Check Writer</span>
          </md-card-title-text>
        </md-card-title>
        <img src="./img/CY_builder.png" alt="CY Builder" style="width: 450px;">
      </md-card>
    </div>
  </md-content>
  <md-content layout="row" layout-align="center center">
    <md-card style="background-color: lightgray;" flex="50" layout-align="center center" ng-click="clickedChoice('fileSaveLoad')">
      <p>... or Click Here to Load a Saved Ledger</p>
    </md-card>
  </md-content>
