<section id="content-area" ng-controller="checkBuilderAJs">
  <div id="check-area">
    <div id="check-1">
      <x-bank-address></x-bank-address>
      <x-check-number></x-check-number>
      <x-frac-routing></x-frac-routing>
      <x-mirc-code></x-mirc-code>
      <x-payor></x-payor>
      <x-check-date></x-check-date>
      <x-check-memo></x-check-memo>
      <x-payee></x-payee>
      <x-written-payment></x-written-payment>
      <x-check-signature></x-check-signature>
    </div>
  </div>
</section>
