  <md-content layout="column">
    <md-card> 
      <p class="md-padding">User Info, Save or Load a File</p>
      <div layout="row" layout-align="center center" flex="100">
        <md-input-container flex="45">
          <label>User Name</label>
          <input ng-model="login.userName" type="text"/>
          <div class="hint">Needed For File Encryption/Decryption</div>
        </md-input-container>
        <span flex="5"></span>
        <md-input-container flex="45">
          <label>Password</label>
          <input ng-model="login.userPassword" type="password"/>
          <div class="hint">Needed For File Encryption/Decryption</div>
        </md-input-container>
      </div>
    </md-card>
  </md-content>
  <md-content layout="row" layout-align="center center" >
    <md-card flex="45">
      <div layout="column">
        <div layout="row">
        <md-input-container>
          <label>Save File Name</label>
          <input ng-model="login.saveFileName" type="text" />
        </md-input-container>
          <md-button class="md-raised md-warn md-hue-2" ng-click="saveFile(login)">Save File</md-button>
        </div>
        <div layout="row">
          <span flex="5"></span>
          <p>Save Message: {{filemsgs.returnedSaveMessage}}</p>
        </div>
      </div>
    </md-card>
    <md-card flex="45">
      <div layout="column">
        <div layout="row" layout-align="center center" >
          <input type="file" on-read-file="checkLoadFile($fileContent)" />
          <md-button class="md-raised md-warn md-hue-2" ng-disabled="disableLoad" ng-click="loadFile(login)">Load File</md-button>
        </div>
        <div layout="row">
          <span flex="5"></span>
          <p>Load Message: {{filemsgs.returnedLoadMessage}}</p>
        </div>
      </div>
    </md-card>
  </md-content>
