<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
    <span>{{navItems}}</span>
    </h2>
    <span flex></span>
    <div ng-repeat="button in navButtons">
      <md-button class="md-raised" aria-label={{button.buttonLabel}} ng-click="clickedChoice(button.viewChange)">
        {{button.buttonLabel}}
      </md-button>
    </div>
  </div>
</md-toolbar>

<!-- 
  <section ng-show="newAccountPage" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <h1>New Account</h1>
    <md-button class="md-raised" md-primary ng-click="cancelSubmit()">Cancel</md-button>
    <md-button class="md-raised" md-primary ng-click="addNewAccount(newAccount)">Submit Account Info</md-button>
  </section>  -->

